.sidebar, .sidebar2, .content{
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.header {
    border:dotted 1px black;
}

.footer {
    border:solid 1px black;
}

.wrapper:hover {
    box-shadow: 10px 10px 5px #aaaaaa;
}