.menu {
    background-color: #E84545;
    text-align: center;
    /*Pour cet exemple, on fixe la largeur du menu à 100% ou 100vw*/
    width: 100vw;
    /*Propriété comme item flex - ne peut rétrécir*/
    flex: 1 0 100%;
    /*Contexte flex en colonne pour ses enfants*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden; overflow-y: auto;
}

.menu a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.menu a:first-child {
    border-top: 1px solid white;
}